.text-shadow {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

body {
    background-color: lightgray;
}

.flashes h5 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;    
}


.padding-min {
    padding: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.padding-forms {
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.edit-icon {
    color: teal;
    margin: 0px;
}

.delete-icon {
    color: rgba(224, 0, 0, 0.822);
    margin: 0px;
}

.budget-items {
    padding-left: 15px;
}

#add-new-project a {
    color: white;
}

.greyed-out {
    color: deeppink;
}
