{% extends "base.html" %}
{% block content %}


    <h3 class="center-align">Create a new project</h3>

    <div class="row">
        <form id="new-project" class="col s12 m10 offset-m1" method="POST" action="{{ url_for('create_project') }}" >
            <div class="card-panel white">
                <!-- project name -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="project_name" name="project_name" type="text" 
                            minlength="5" maxlength="50"  class="validate" required>
                        <label for="project_name">Project Name</label>
                    </div>
                </div>
                <!-- currency -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="project_currency" name="project_currency" type="text" 
                            minlength="3" maxlength="3" class="validate" 
                            pattern="^[EURZARGBPUSDJPYeurzargbpusdjpy]{3,3}$" required>
                        <label for="project_currency">Currency</label>
                    </div>
                </div>
                <!-- date picker -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="project_start_date" name="project_start_date" type="text" 
                            class="datepicker validate" required>
                        <label for="project_start_date">Start Date</label>
                    </div>
                </div>
                <!-- categories -->
              
                <div id="categories">   
                    <!-- at least one category should be entered  -->
                    <div class="row category" id="1category">
                        <div class="input-field col s5 m5">
                            <input name="1category" type="text" 
                                minlength="5" maxlength="50"  class="validate" required>
                            <label for="1category">Category Name</label>
                        </div>
                        <div class="input-field col s5 m5">
                            <select name="1category" class="validate" required>
                                <option value="per unit" selected>per unit</option>
                                <option value="per hour">per hour</option>
                                <option value="per day">per day</option>
                            </select>   
                        </div>
                        <div  class="input-field col">Required</div>
                    </div>


                    <!--this is where additional categories are added  -->
                </div>
               
                <div class="btn" id="add-category">ADD CATEGORY</div>    
               
                <!-- submit button -->
                <div class="row center-align">
                    <button class="teal btn-large" type="submit">Submit
                        <i class="fas fa-sign-in-alt right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}



