{% extends "base.html" %}
{% block content %}


    <h3 class="center-align">Edit your project</h3>

    <div class="row">
        <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('edit_project', project_id = project._id) }}">
            <div class="card-panel white">
                <!-- project name -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="project_name" name="project_name" type="text" 
                            value="{{project.project_name}}"    minlength="5" maxlength="50"  class="validate" required>
                        <label for="project_name">Project Name</label>
                    </div>
                </div>
                <!-- currency -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="project_currency" name="project_currency" type="text" 
                            value="{{project.project_currency}}" minlength="2" maxlength="3" class="validate" required>
                        <label for="project_currency">Currency</label>
                    </div>
                </div>
                <!-- date picker -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="project_start_date" name="project_start_date" type="text" 
                            value="{{project.project_start_date}}"   class="datepicker validate" required>
                        <label for="project_start_date">Start Date</label>
                    </div>
                </div>
                <!-- category 1 -->
                <div class="row">
                    <div class="input-field col s5 m5">
                        <input id="category_name_1" name="category_name_1" type="text" 
                            value="{{project.project_categories[0].category_name}}" minlength="5" maxlength="50"  class="validate" required>
                        <label for="category_name_1">Category Name</label>
                    </div>
                    <div class="input-field col s5 m5">
                        <select id="category_measure_1" name="category_measure_1" class="validate" required>
                            {% if project.project_categories[0].category_measure %}
                                <option value="{{project.project_categories[0].category_measure}}" selected>{{project.project_categories[0].category_measure}}</option>
                                <option value="per unit">per unit</option>
                                <option value="per hour">per hour</option>
                                <option value="per day">per day</option>
                            {% else %}
                                <option value="" class="grey-text" disabled selected>Measured in</option>
                                <option value="per unit">per unit</option>
                                <option value="per hour">per hour</option>
                                <option value="per day">per day</option>
                            {% endif %}
                        </select>   
                    </div>
                </div>
                <!-- category 2 -->
                <div class="row">
                    <div class="input-field col s5 m5">
                        <input id="category_name_2" name="category_name_2" type="text" 
                            value="{{project.project_categories[1].category_name}}" minlength="5" maxlength="50"  class="validate" >
                        <label for="category_name_2">Category Name</label>
                    </div>
                    <div class="input-field col s5 m5">
                        <select id="category_measure_2" name="category_measure_2" class="validate" >
                            {% if project.project_categories[1].category_measure %}
                                <option value="{{project.project_categories[1].category_measure}}" selected>{{project.project_categories[1].category_measure}}</option>
                                <option value="per unit">per unit</option>
                                <option value="per hour">per hour</option>
                                <option value="per day">per day</option>
                            {% else %}
                                <option value="" class="grey-text" disabled selected>Measured in</option>
                                <option value="per unit">per unit</option>
                                <option value="per hour">per hour</option>
                                <option value="per day">per day</option>
                            {% endif %}
                        </select>   
                    </div>
                </div>
                <!-- category 3 -->
                <div class="row">
                    <div class="input-field col s5 m5">
                        <input id="category_name_3" name="category_name_3" type="text" 
                            value="{{project.project_categories[2].category_name}}" minlength="5" maxlength="50"  class="validate" >
                        <label for="category_name_3">Category Name</label>
                    </div>
                    <div class="input-field col s5 m5">
                        <select id="category_measure_3" name="category_measure_3" class="validate" >
                            {% if project.project_categories[2].category_measure %}
                                <option value="{{project.project_categories[2].category_measure}}" selected>{{project.project_categories[2].category_measure}}</option>
                                <option value="per unit">per unit</option>
                                <option value="per hour">per hour</option>
                                <option value="per day">per day</option>
                            {% else %}
                                <option value="" class="grey-text" disabled selected>Measured in</option>
                                <option value="per unit">per unit</option>
                                <option value="per hour">per hour</option>
                                <option value="per day">per day</option>
                            {% endif %}
                        </select>   
                    </div>
                </div>
                <!-- category 4 -->
                <div class="row">
                    <div class="input-field col s5 m5">
                        <input id="category_name_4" name="category_name_4" type="text" 
                            value="{{project.project_categories[3].category_name}}"   minlength="5" maxlength="50"  class="validate" >
                        <label for="category_name_4">Category Name</label>
                    </div>
                    <div class="input-field col s5 m5">
                        <select id="category_measure_4" name="category_measure_4" class="validate" >
                            {% if project.project_categories[3].category_measure %}
                                <option value="{{project.project_categories[3].category_measure}}" selected>{{project.project_categories[3].category_measure}}</option>
                                <option value="per unit">per unit</option>
                                <option value="per hour">per hour</option>
                                <option value="per day">per day</option>
                            {% else %}
                                <option value="" class="grey-text" disabled selected>Measured in</option>
                                <option value="per unit">per unit</option>
                                <option value="per hour">per hour</option>
                                <option value="per day">per day</option>
                            {% endif %}
                        </select>   
                    </div>
                </div>
               
                <!-- buttons -->
                <div class="row center-align">
                    <!-- cancel button -->
                    <a href="{{url_for('projects')}}" class="btn-large red text-shadow">Cancel</a>
                    <!-- edit button -->
                    <button class="teal btn-large" type="submit">Edit
                        <i class="fas fa-sign-in-alt right"></i>
                      </button>
                </div>
            </div>
        </form>
    </div>

  {% endblock %}