{% extends "base.html" %}
{% block content %}


    <h3 class="center-align">Edit your project</h3>

    <div class="row">
        <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('edit_project', project_id = project._id) }}">
            <div class="card-panel white">
                <!-- project name -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="project_name" name="project_name" type="text" 
                            value="{{project.project_name}}"    minlength="5" maxlength="50"  class="validate" required>
                        <label for="project_name">Project Name</label>
                    </div>
                </div>
                <!-- currency -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="project_currency" name="project_currency" type="text" 
                            value="{{project.project_currency}}" minlength="2" maxlength="3" class="validate" required>
                        <label for="project_currency">Currency</label>
                    </div>
                </div>
                <!-- date picker -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="project_start_date" name="project_start_date" type="text" 
                            value="{{project.project_start_date}}"   class="datepicker validate" required>
                        <label for="project_start_date">Start Date</label>
                    </div>
                </div>

                <!-- print existing categories -->
                {% for category in project.project_categories %}
                    <div class="row category">
                        <div class="input-field col s5 m5">
                            <input id="category_name_{{loop.index}}" name="category_name_{{loop.index}}" type="text" 
                                value="{{category.name}}" minlength="5" maxlength="50"  class="validate" required>
                            <label for="category_name_{{loop.index}}">Category Name</label>
                        </div>
                        <div class="input-field col s5 m5">
                            <select id="category_measure_{{loop.index}}" name="category_measure_{{loop.index}}" class="validate" required>
                                
                                    <option value="{{category.measure}}" selected disabled>{{category.measure}}</option>
                                    
                                    <option value="per unit">per unit</option>
                                    <option value="per hour">per hour</option>
                                    <option value="per day">per day</option>
                                
                            </select>   
                        </div>
                        <div class="col s2 m2">
                            <div class="btn delete-category"><i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                <!-- add categories  -->
                <div class="btn" id="add-category">ADD CATEGORY</div>  

                <!-- buttons -->
                <div class="row center-align">
                    <!-- cancel button -->
                    <a href="{{url_for('projects')}}" class="btn-large red text-shadow">Cancel</a>
                    <!-- edit button -->
                    <button class="teal btn-large" type="submit">Edit
                        <i class="fas fa-sign-in-alt right"></i>
                      </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(`.delete-category`).each(function(){
              $(this).click(function(){
                $(this).closest(".category").remove()
             })
        
        })
    </script>
{% endblock %}

