{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align">
                Nicola's Dashboard
            </h3>
        </div>
    </div>
</div>

<ul class="collapsible">
    {% for project in projects %}
    <li>
        <div class="collapsible-header"><i class="fas fa-caret-down"></i>
            <strong>{{ project.project_name }} ({{ project.project_currency }})<br></strong>
        </div>
        <div class="collapsible-body">
           
            Start date: {{ project.project_start_date }}<br>
            <div class="row teal">
                <h5>Categories</h5>
                {% for category in project.project_categories %}
                    <div class="col s12 m12">    
                        {{ category.category_name }} measured {{ category.category_measure }}
                    </div>
                {% endfor %}
        </div>
    </li>
    {% endfor %}
  </ul>





{% endblock %}
